<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>Diplomások</title>
<h1 class = "cim"> DiplomaKözpont </h1>
    <link rel="stylesheet" href="css/pass.css">
  </head>
  <body>
    <div class="csomag">
      <div class="title">
Jelszó Emlékesztető</div>


<form action="#">
        <div class="field">
          <input type="text" name="text"required placeholder="Neptun Kód">
        </div>


<div class="field">
          <input type="submit" onclick="send()" value="Új jelszó Beállítása">
        </div>

</form>
</div>
<Script>
  function send(){
    //alert("Az üzenet elküldve az adminnak");
    alert("Az üzenet elküldve az adminnak");
  }
</Script>

</body>
</html>
