<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>Diplomások</title>
<h1 class = "cim"> DiplomaKözpont </h1>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="csomag">
      <div class="title">
Jelszó Emlékesztető</div>


<form action="#">
        <div class="field">
          <input type="text" name="text"required placeholder="Neptun Kód">
        </div>

        <div class="field">
          <input type="password" name="password"required placeholder="Jelszó">
        </div>


        <div class="field">
          <input type="password" name="password"required placeholder="Jelszó Újra">
        </div>

<div class="field">
          <input type="submit" value="Új jelszó Beállítása">
        </div>

</form>
</div>


</body>
</html>
